@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


button {
    box-shadow: 0 0 5px red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
}

button:active {
    color: black;
    background: red;
    border: 0;
    box-shadow: 0 0 5px yellow;
}

/* TOP-NAV */

#top-nav {
    background-color: black;
    position: sticky;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

}

#name-surname a {
    padding: 20px;
    color: white;
}

#nav a {
    padding: 10px;
    color: gray;
}

#top-social a {
    padding: 10px;
    margin: 10px;
    color: gray;
}



/* mobile-nav */

#ellipsis {
    display: none;
}

#ellipsis a {
    color: white;
}

.fa-ellipsis {}

#mobile-nav {
    background-color: black;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    width: 100%;
    display: none;
}

#mobile-nav div {
    padding: 20px;
}

#mobile-nav div a {
    color: gray;
}

#mobile-nav div a:hover {
    color: white;
}

#ellipsis:hover #mobile-nav {
    display: block;
    transition: 1s;
}

/* SECTION */

header {
    background-image: url('../img/Wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header #book img {
    width: 85vw;
    max-width: 400px;
    box-shadow: 2px 2px 20px gray;
}

/* INFO BOOK */

header #info-book {
    max-width: 340px;
    font-size: 0.5em;
    font-weight: 100;
    margin: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px black;
    text-align: center;
    font-family: 'Roboto';
}

header #info-book a {
    color: white;
}

/* TRAILER */

section#trailer {
    background-color: black;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

section#trailer h1 {
    color: gray;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Roboto';
}


iframe {
    max-width: 800px;
    max-height: 500px;
    width: 80%;
    height: 45vw;
    border-radius: 30px;
    box-shadow: 0px 0px 10px red;
    margin-block: 40px;
}

/* SELL IMAGE */
#sell-image {
    background-image: url('../img/Book-Copertina.png');
    background-size: 160%;
    height: 105vw;
}

/* LIBRERIA */

section#libreria {
    background-image: url(../img/Wallpaper2.png);
    background-size: cover;
    height: calc(80vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#libreria a {
    color: white;
}

section#libreria h1 {
    font-size: 5rem;
    margin: 0px;
}

section#libreria h2 {
    font-family: 'Roboto';
    filter: blur(0);
}

section#libreria #buy {
    text-align: center;
    max-width: 400px;
}

footer {
    background-color: rgb(32, 32, 32);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 2%;
}

footer a {
    font-size: 20px;
    color: white;
    padding: 5%;
}

footer p {
    font-family: 'Roboto';
    font-size: 13px;
    width: 300px;
}

/* VIEWPORT */

@media screen and (max-width: 800px) {

    header {
        padding-top: 30px;
        transition: 1s;
    }
}

@media screen and (max-width:600px) {

    #top-social,
    #nav {
        display: none;
    }

    footer a {
        display: none;
    }

    #ellipsis {
        display: block;
        color: white;
        padding: 20px;
    }
}